<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Upload MultipartFile</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container h-100">
		<div class="row h-100 justify-content-center align-items-center">
			<div class="col-md-7 table-responsive">
				<h2>List Order</h2>
				<table id="customerTable" class="table">
					<thead>
						<tr>
							<th>No</th>
							<th>OrderCode</th>
							<th>Date order</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="ImageOrder, rowStat: ${lists}">
							<td th:text="${rowStat.count}">1</td>
							<td th:text="${ImageOrder.orderCode}">File-Name</td>
							<td th:text="${ImageOrder.dateOrder}">Date Order</td>
							<td th:text="${ImageOrder.Status}">Status</td>
						</tr>
					</tbody>
				</table>
				<div>
					<a th:href="@{/home}" class="btn btn-light btn-block" role="button">Back
						to Home</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>